@media (max-width: 450px) {
    .content {
        height: 700px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 560px;
        width: 340px;
    }

    .illustrationhero {
        width: 340px;
    }

}
